@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Ubuntu';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: url("../font/Ubuntu-Regular.ttf") format('ttf');
      }
}

@layer components {
  .card-heading {
    @apply font-bold text-3xl
  }

  .card-text {
    @apply text-xl opacity-75 font-light
  }

  .slider-card {
    @apply font-bold text-3xl
  }
}


